/vendor/

# Node
node_modules/

# Android build
frontend/android/
android/


# Docker images
docker-image/

# Environnement
.env
.env.backup
.env.production
.env.local

# Logs
/storage/logs/
*.log

# Cache & fichiers générés
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/bootstrap/cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


# Fichiers Office et temporaires
*.xlsx
*.xls
*.xlsm
*.pdf
*.pptx
*.pptx.pdf
toDo/

*.json
  


