/vendor/

# Node.js
/node_modules/

# Environnement
.env
.env.backup
.env.production
.env.local

# Logs
/storage/logs/
*.log

# Cache & fichiers générés
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/bootstrap/cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

*.xlsx
*.xls
*.xlsm
*.pdf
*.pptx
*.pptx.pdf
toDo/

*.json

__MACOSX/


# Ignorer android
frontend/android/
