vendor/
node_modules/
.git/
.gitignore
.gitattributes
__MACOSX/
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/framework/testing/
public/storage
.env
.env.backup
.env.firebase
docker-compose.yml
docker-compose
*.md
tests/
tiles/
.editorconfig
.phpstorm.meta.php
.intelephenseignore
phpunit.xml
app/Stubs/
