services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: laravel_app
    volumes:
      - .:/var/www/html
    networks:
      - laravel

  web:
    image: nginx:1.25
    container_name: laravel_nginx
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  postgres:
    image: postgres:15-alpine
    container_name: laravel_postgres
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - laravel

  swagger:
    image: swaggerapi/swagger-ui:v5.10.3
    container_name: laravel_swagger
    ports:
      - "8081:8080"
    environment:
      SWAGGER_JSON_URL: /openapi.json
    volumes:
      - ./openapi.json:/openapi.json:ro
    networks:
      - laravel

  redis:
    image: redis:7-alpine
    container_name: laravel_redis
    ports:
      - "6379:6379"
    networks:
      - laravel

  tileserver:
    image: maptiler/tileserver-gl:latest
    container_name: laravel_tileserver
    ports:
      - "8082:8080"
    volumes:
      - ./tiles:/data
    networks:
      - laravel

networks:
  laravel:

volumes:
  postgres_data: