version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: laravel_app
    volumes:
      - .:/var/www/html
    environment:
      APP_ENV: local
      APP_DEBUG: true
      DB_CONNECTION: pgsql
      DB_HOST: postgres
      DB_PORT: 5432
      DB_DATABASE: laravel
      DB_USERNAME: laravel
      DB_PASSWORD: root
      REDIS_HOST: redis
    depends_on:
      - postgres
      - redis
    networks:
      - laravel

  react:
    image: node:20
    container_name: react_frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
    command: ["npm", "run", "dev"]
    ports:
      - "3000:5173"
    depends_on:
      - app
    networks:
      - laravel

  postgres:
    image: postgres:15-alpine
    container_name: laravel_postgres
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - laravel

  redis:
    image: redis:7-alpine
    container_name: laravel_redis
    ports:
      - "6379:6379"
    networks:
      - laravel

  swagger:
    image: swaggerapi/swagger-ui:v5.10.3
    container_name: laravel_swagger
    ports:
      - "8081:8080"
    environment:
      SWAGGER_JSON_URL: /openapi.json
    volumes:
      - ./openapi.json:/openapi.json:ro
    networks:
      - laravel

  tileserver:
    image: maptiler/tileserver-gl:latest
    container_name: laravel_tileserver
    ports:
      - "8082:80"
    volumes:
      - ./tiles:/data
    command: ["--port", "80", "/data/antananarivo.mbtiles"]
    networks:
      - laravel

  adminer:
    image: adminer:latest
    container_name: laravel_adminer
    ports:
      - "8083:8080"
    networks:
      - laravel

networks:
  laravel:

volumes:
  postgres_data:
